<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>sideMenu</title>
<style th:fragment="side">

#aside {
     width: 200px;
     height: 3000px;
     position: fixed;
     background: #5BA8D8;
     overflow: hidden;
     float: left;
 }

</style>
</head>
<body>
	<!-- fragment1 <!-- /include/menu::sidemenu --> -->
	<div id="aside" th:fragment="sidemenu">
		<!-- ${}앞에 세션안붙이면 모델안에 있는 줄 아니까 세션.붙이기 --> 
		<div><span th:text="${session.loginMember.memberId}"></span>님</div>
		<ul>
			<li><a th:href="@{/home}">홈</a></li>
			<li><a th:href="@{/memberInfo}">회원정보</a></li>
			<li><a th:href="@{/getCashListByDate}">일별 가계부 관리</a></li>
			<li><a th:href="@{/getCashListByMonth}">월별 가계부 관리</a></li>
			<li><a th:href="@{/qboardList}">게시판</a></li>
			<li><a th:href="@{/logout}">로그아웃</a></li>
		</ul>
	</div>
	<!-- fragment2 -->
	
	
	<!-- fragment3 -->
	
	
	<!-- fragment4 -->
	
	
	<!-- fragment5 -->
				
</body>
</html>