<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

<!-- jQuery library -->
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Popper JS -->
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<style th:include="/include/menu::side"></style>
<script>
	
</script>
</head>
<body>

	<div class="row">
		<div class="col-sm-2">
			<!-- 메뉴 -->
			<div th:include="/include/menu::sidemenu" id="aside"></div>
		</div>
		<div class="container">
			<div class="col-sm-10">
				<!-- 멤버 정보 -->
				<h3>게시판 상세보기</h3>
				<div>
					<a style="float: left;" class="btn btn-primary" href="">이전</a> <a
						style="float: right;" class="btn btn-primary" href="">다음</a>
				</div>
				<div align="center">
					<input class="form-control" type="text"
						th:value="${qboard.boardTitle}" readonly="readonly">
				</div>
				<br>
				<div class="row">
					<div class="col-lg">
						<input class="form-control" type="text"
							th:value="${qboard.memberId}" readonly="readonly">
					</div>
					<div class="col-lg">
						<input class="form-control" type="text"
							th:value="${qboard.boardDate}" readonly="readonly">
					</div>
				</div>
				<br>
				<div>
					<textarea class="form-control" rows="10" cols="50"
						th:value="${qboard.boardContents}" th:inline="text"
						readonly="readonly">[[*{qboard.boardContents}]]
						
						</textarea>
					<div>
						<a class="btn btn-primary" th:href="@{/qboardList}">목록</a>
						<a class="btn btn-primary" th:href="@{/modifyQboardList/(boardNo=${qboard.boardNo})}">수정</a> 
						<a class="btn btn-primary" th:href="@{/deleteQboardList/(boardNo=${qboard.boardNo})}">삭제</a>
					</div>
					<br>
					<!-- 덧글 쓰고 넘겨야함  -->
					<form method="post"
						th:action="@{/insertComment/(boardNo=${qboard.boardNo})}">
						<input type="text" name="commentContents" value="댓글 입력">
						<button type="submit">덧글입력</button>
					</form>
					<br>
					<!-- 덧글 리스트 뽑아야함 -->
					<h3>덧글 리스트</h3>
					<table border="1" class="table table-bordered">
						<tr th:each="list : ${commentList}">
							<td th:text=${list.memberId}></td>
							<td th:text=${list.commentContents}></td>
							<td th:text=${list.commentDate}></td>
							<td><a th:href="@{/modifyComment/(boardNo=${qboard.boardNo},commentNo=${list.commentNo})}">수정</a></td>
							<td><a
								th:href="@{/deleteComment/(boardNo=${qboard.boardNo},commentNo=${list.commentNo})}">삭제</a></td>
						</tr>
					</table>
				</div>
			</div>
		</div>
	</div>
</body>
</html>