<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

<!-- jQuery library -->
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Popper JS -->
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<style th:include="/include/menu::side"></style>
</head>
<body>
	<div class="row">
		<div class="col-sm-2">
			<div th:include="/include/menu::sidemenu" id="aside"></div>
		</div>
		<div class="col-sm-10">
			<div align="center">
				<br>
				<br>
				<br>
				<br>
				<br>
				<br>
				<br>
				<h1>가계부를 이용해 손쉽게 돈을 관리해보세요.</h1>
				<!--타임리프 방법! 이자리에 sidemenu를 호출하겠습니다. 태그단위로 인크루드 가능! -->
				<!-- <jsp:include page=> 는 jsp방식! 페이지 단위로 인크루드 가능! -->
			</div>
		</div>
	</div>
</body>
</html>