<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

<!-- jQuery library -->
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Popper JS -->
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<script>
$(document).ready(function(){
	$('#btn').click(function(){
		if($('#memberPw').val().length<4){
			helperInit();
			$('#pwHelper').text("pw 4자이상");
			$('#memberPw').focus();
		}else if($('#memberPw').val() != $('#memberPw2').val()){
			helperInit();
			$('#pwHelper').text("pw를 확인하세요");
			$('#memberPw').focus();
		}else{
			$('#myform').submit();
		}
	});
	
	$('#idBtn').click(function(){
		//아이디 체크할떄도 4자이상 입력하세여
		if($('#memberIdCheck').val().length<4){
			$('#memberIdCheckHelper').text("id 4자이상 입력해주세요.");
			$('#memberIdCheck').focus();
			return;
		}
		$('#idForm').submit();
	});
});

</script>
</head>
<body>
	<form method="post" action="/removeMember" id="idForm">

		<div>
			비밀번호 :<input type="password" name="memberPw" id="memberPw"> <span
				id="pwHelper"></span>
		</div>
		<div>
			비밀번호확인 :<input type="text" id="memberPw2">
		</div>
	</form>
</body>
</html>