<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gdu.ditestweb.cashbook1.mapper.CashMapper">	
		<insert id="insertCategoryList" parameterType="java.util.Map">
		insert into cash(
		member_id,cash_date,cash_kind,category_name,cash_price,cash_place,cash_memo
		)value(
		#{memberId},
		#{cashDate},
		#{cashKind},
		#{categoryName},
		#{cashPrice},
		#{cashPlace},
		#{cashMemo}
		)
		</insert>
		
		<select id="selectCategoryList"
			resultType="com.gdu.ditestweb.cashbook1.vo.Category">
			SELECT CATEGORY_NAME as categoryName FROM CATEGORY
		</select>

		<select id="selectDayAndPriceList"
			parameterType="java.util.Map"
			resultType="com.gdu.ditestweb.cashbook1.vo.DayAndPrice">
		SELECT DAY(cash_date) as day, 
			   SUM(CASE WHEN cash_kind='수입' THEN cash_price
			   		WHEN cash_kind='지출' THEN -cash_price END) as price
		FROM cash
		WHERE member_id = #{memberId} 
		AND YEAR(cash_date) = #{year}
		AND MONTH(cash_date) = #{month}
		GROUP BY DAY(cash_date)
	</select>
	<select id="selectCashKindSum"
		parameterType="com.gdu.ditestweb.cashbook1.vo.Cash" resultType="int">
		<!--IFNULL(SUM(cash_price), 0) IFNULL은 해당 필드의 값이 NULL을 반환할때 다른 값으로 출력할 
			수 있도록 하는 함수 -->
		SELECT
		(SELECT IFNULL(SUM(cash_price),0) FROM cash WHERE
		member_id=#{memberId} AND
		cash_kind='수입' AND cash_date=#{cashDate})
		-
		(SELECT IFNULL(SUM(cash_price),0) FROM cash WHERE
		member_id=#{memberId} AND
		cash_kind='지출' AND cash_date=#{cashDate})
		FROM dual;
	</select>

	<select id="selectCashListByDate"
		parameterType="com.gdu.ditestweb.cashbook1.vo.Cash"
		resultType="com.gdu.ditestweb.cashbook1.vo.Cash">
		SELECT
		cash_no as cashNo,
		cash_kind as cashKind,
		category_name as categoryName,
		cash_price as cashPrice,
		cash_place as
		cashPlace,
		cash_memo as cashMemo
		from cash
		where member_id = #{memberId}
		AND cash_date =
		#{cashDate}
		ORDER BY cash_no ASC
	</select>







</mapper>