<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gdu.ditestweb.cashbook1.mapper.MemberMapper">


<select id="selectLoginMember" 
		parameterType="com.gdu.ditestweb.cashbook1.vo.LoginMember"
		resultType="com.gdu.ditestweb.cashbook1.vo.LoginMember">
	 	select
	 		member_id as memberId,
	 		member_pw as memberPw
	 	from member
	 	where member_id = #{memberId}
	 	and member_pw = #{memberPw}
</select>
<insert id="insertMember" parameterType="com.gdu.ditestweb.cashbook1.vo.Member">
		insert into member(
			member_id,
			member_pw,
			member_name,
			member_addr,
			member_phone,
			member_email
		) values ( 
		<!-- #동적 $정적 #{}에 필드이름 적으면 셋터가 알아서 호출됨.-->
			#{memberId},
			#{memberPw},
			#{memberName},
			#{memberAddr},
			#{memberPhone},
			#{memberEmail}
		)
</insert>
</mapper>